<div
  class="container d-flex justify-content-center align-items-center bg-light"
>
  <div class="card shadow-lg" style="width: 100%; max-width: 400px">
    <div class="card-header bg-primary text-white text-center">
      <h4 class="mb-0">Welcome Back!</h4>
    </div>
    <div class="card-body">
      <form
        (ngSubmit)="login()"
        #loginForm="ngForm"
        autocomplete="off"
        spellcheck="off"
        novalidate
      >
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            [(ngModel)]="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            [(ngModel)]="password"
            autocomplete="new-password"
            required
          />
        </div>

        <button
          class="btn btn-primary w-100"
          [disabled]="!loginForm.form.valid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>

<app-alert-modal
  *ngIf="showAlert"
  (close)="showAlert = false"
></app-alert-modal>
