<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li>
        <a routerLink="subject">Subject and Behavior Subject</a>
      </li>
      <li>
        <a routerLink="replaySubject">Replay Subject</a>
      </li>
      <li>
        <a routerLink="map">Map</a>
      </li>
      <li>
        <a routerLink="mergemap">MergeMap</a>
      </li>
      <li>
        <a routerLink="debouncetime">DebouceTime & DistinctUntilChanged</a>
      </li>
      <li>
        <a routerLink="filter">Filter</a>
      </li>
    </ul>
  </div>
</div>
